.parent{
    height: 536px;
    width: 100vw;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 24px;
    padding: 0px 32px;
   color: var(--color-white);
   overflow: hidden;

}

.description{
    height: 30px;
    display: flex;
    justify-content:space-between ;
    align-items: center;



}

.grid{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

}