.parent{
/* width: 160px;
height: 232px; */
/* background-color: var(--color-black);  */
/* color: var(--color-white); */
width: 160px;
}

card{
 height: 205px;
 width: 160px;
 border-radius: 10px;
 overflow: hidden;
 color: var(--color-black);
}

.follwerslikes{
padding: 4px 8px;
width: max-content;
 background-color: var(--color-black); 
height: 23px;
color: var(--color-white);


}

.title{
   
    margin-top: 3px;
   
}