/* .swiper-slide{
    color: var(--color-white);
} */   

.carousel-container {
    position: relative;
}


.arrow{
    position: absolute;
    width: 24px;
    height: 48px;
    top: 40%;
    transform: translateY(50%);
    z-index: 1;
    border-radius: 40%;
    overflow: hidden;
}

.arrow img {
    width: 100%;
    height: 100%;
}

.arrow-left{
    left: -12px;
}

.arrow-right{
    right: -12px;
}