.section{
    padding:10px 32px;
    width:100%;
}

.title{
    font-size: 20px;
    color: var(--color-white);
    margin-bottom: 5px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 42px;
}

.section-header{
    display: flex;
    justify-content: space-between;
   

}

.section-toggle-btn{
    font-size: 20px;
    font-weight: 600;
    color: var(--color-primary);
    cursor: pointer;

}